<template>
    <div class="chat-composer">
        <input id="message" type="text" placeholder="You message..." v-model="chatMessage" @keydown.enter="sendMessage" maxlength="140">
        <button class="btn btn-primary" @click="sendMessage">Send</button>
    </div>
</template>

<script>
    export default {
        props: ['username'],

        data() {
            return {
                chatMessage: ''
            }
        },

        methods: {
            sendMessage() {
                if (this.chatMessage) {
                    this.$emit('messagesent', {
                        message: this.chatMessage,
                        username: this.username
                    });
                    this.chatMessage = '';
                }
            }
        }
    }
</script>

<style>
    .chat-composer {
        display: flex;
        margin-top: 10px;
    }
    .chat-composer input {
        flex: 1 auto;
        padding: .5rem 1rem;
        border: none;
    }
    .chat-composer button {
        border-radius: 0;
    }
</style>