.spaced-btn-group {
    margin-top: 15px;
}

.rounded-borders {
    border-radius: .25rem;
}

a:hover {
    text-decoration: none;
}

.profile-image {
    height: 45px;
    width: 45px;
    margin-right: 10px;
}

body {
    padding-top: 77px;
}

.user-card {
    margin-bottom: 20px;
}

.news-card {
    border-radius: 0;
    border: none;
    box-shadow: 2px 2px 5px rgba(197,197,197,0.4);
    margin-bottom: 20px;
}

.news-stack {
    margin-top: 30px;
}

.delete-post:hover{
    color: #f50000;
}

.message-recipient-row {
    height: 80px;
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
}

.message-recipient-row.selected {
    background-color: #f5fff9;
}

.message-recipient-row * {
    max-height: 60px;
}

.message-recipient-name {
    line-height: 60px;
    font-size: 18px;
    font-weight: 400;
}

.message-row {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 10px rgba(197,197,197,0.4);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.message-row a {
    color: rgba(0, 0, 0, 0.9);
}

.message {
    text-align: justify;
}

.message-row.sender {
    background-color: #fff4f4;
}

.message-row.owner {
    background-color: #f4f6ff;
}

.compose-msg {
    position: fixed;
    bottom: 30px;
    right: 30px;

    height: 60px;
    width: 60px;
    line-height: 60px;

    border-radius: 50%;
    box-shadow: 0 0 5px rgba(197,197,197,0.75);

    background-color: red;
    color: white;
    font-size: 22px;
    text-align: center;

    cursor: pointer;
}

.compose-msg:hover {
    background-color: #f50000;
}

.delete-message:hover {
    color: red;
}

.course-title,
.course-title-no-hover,
.course-info {
    padding-top: 10px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.course-title-no-hover.description {
    padding: 10px 0 10px 10px;;
}

.course-title,
.course-title-no-hover {
    border-right: 1px solid #fefefe;
}

.course-language {
    justify-content: center;
}

.course-lessons {
    text-align: center;
    color: gray;
}

.course-lessons h5{
    font-size: 24px;
    color: black;
    padding: 0;
    margin: 0;
}

.course-follow {
    justify-content: center;
    text-align: center;
}

.course-follow i {
    cursor: pointer;
}

.course-follow .follow {
    color: #6b37c1 !important;
}

.course-follow .unfollow {
    color: #3ace3a !important;
}

.course-title:hover {
    color: #007bff !important;
}

.container a {
    text-decoration: none;
}

.compose-text {
    right: 130px !important;
}

.compose-text i {
    color: white !important;
}

.compose-video {
    background: #6b37c1 !important;
}

.compose-video i {
    color: white !important;
}

.comment-info {
    position: relative;
}

.comment-delete {
    position: absolute;
    top: calc(50% - 15px);
    right: -30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topic-card {
    height: 70px;
    display: flex;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.topic-gradient {
    height: 100%;
    width: 5%;
    background: rgb(0,17,194);
    background: linear-gradient(0deg, rgba(0,17,194,1) 0%, rgba(35,77,212,1) 35%, rgba(67,157,235,1) 100%);
}

.topic-title {
    height: 70px;
    line-height: 70px;
    background: white;
    flex-grow: 1;
    text-align: center;
    font-size: 32px;
}

.topic-selector {
    height: 70px;
    width: 20%;
    background: white;
    line-height: 70px;
    text-align: center;
}

.side-action {
    width: 60px;
    position: fixed;
    left: 70px;
    top: 100px;
}

.side-action-button {
    height: 60px;
    width: 60px;
    line-height: 60px;

    border-radius: 50%;
    box-shadow: 0 0 5px rgba(197,197,197,0.75);

    color: white;
    font-size: 22px;
    text-align: center;

    cursor: pointer;

    margin-bottom: 30px;
}

.side-action-button.complete {
    background-color: #3ace3a;
}

.side-action-button.not-complete {
    background-color: lightgray;
}

.side-action-button.edit {
    background-color: #6b37c1;
}

.side-action-button.back {
    background-color: #007bff;
}

.side-action-button.delete {
    background-color: red;
}